@media screen and (max-width: 450px) {

   /* Start of Navbar */

   header {
      gap: 1rem;
      padding: .9rem 0rem;
   }

   header .logo img {
      width: 50px;
      height: 20px;
      margin-top: 0.6rem;
   }

   nav {
      gap: .2rem;
   }

   header .navbar a {
      font-size: 10px;
      line-height: 11.6%;
   }

   /* End of Navbar */

   .home {
      gap: .5rem;
   }

   .home .content__info {
      width: 300px;
      text-align: center;
   }

   .home .content__info .info {
      font-size: 35px;
   }

   .home .content__detail {
      width: 200px;
   }

   .home .download__buttons img {
      width: 100px;
      height: 100px;
   }

   .home .image img:nth-child(1) {
      width: 200px;
      height: 100px;
      left: 6.6rem;
      z-index: 1;
   }

   .home .image img:nth-child(2) {
      width: 200px;
      height: 100px;
      z-index: 1;
   }

   .home .image img:nth-child(3) {
      position: relative;
      width: 200px;
      height: 100px;
      right: 6rem;
   }

   /* Help */
   .help {
      padding: 1rem 4rem;
   }

   .left .left_image {
      right: 2.3rem;
      top: 1.5rem;
      z-index: -1;
   }

   .left .left_image img {
      width: 5rem;
      height: 2rem;
   }

   .left .question {
      width: 150px;
   }

   .left .question p {
      font-size: 22px;
   }

   .left .question__detail {
      width: 300px;
   }

   .left .question__detail p {
      font-size: 10px;
   }

   .left .right_image {
      position: relative;
      bottom: 8.6rem;
      width: 100px;
      height: 100px;
      z-index: -1;
      left: 10rem;
   }

   /* Connect */
   .connect__info {
      width: 15rem;
   }

   .connect__info p {
      font-size: 18px;
   }

   .connect__details p {
      width: 14rem;
   }

   .connect__details p {
      font-size: 10px;
   }

   .connect__section {
      flex-direction: column;
      gap: 2rem;
   }

   .connect {
      gap: 1rem;
   }

   .connect__section .connect__image {
      width: 10rem;
      height: 10rem;
   }

   /* Chat */
   .chat {
      flex-direction: column;
   }

   .columnLeft {
      width: 100%;
      background-color: #029E58;
   }



   .chat__content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      padding: 2rem 5rem 2rem 1rem;
   }

   .chat .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   .chat .chat__info {
      width: 6rem;
   }

   .chat .chat__info p {
      font-size: 18px;
   }


   .chat .chat__detail {
      width: 15rem;
   }

   .chat .chat__detail p {
      font-size: 10px;
   }

   /* Right */
   .columnRight {
      width: 100%;
   }

   .chat__image {
      padding: 0 0 0 1rem;
   }

   .profile {
      width: 15rem;
   }

   .profile .profile_img img {
      width: 2rem;
   }

   .chats {
      padding: 0 0 0 .1rem;
   }

   .chats .tab1 {
      left: 5rem;
      width: 10rem;
      padding: .5rem;
   }

   .chats .tab1 span {
      font-size: 10px;
   }

   .chats .tab {
      width: 8rem;
   }

   .chats .tab span {
      font-size: 10px;
   }

   .chats .tag {
      width: 10rem;
   }

   .chats .tag span {
      font-size: 10px;
   }

   .textArea {
      gap: .8rem;
      width: 15rem;
   }

   .textArea .text {
      background: #F3F3F3;
      border-radius: 10px;
      padding: .2rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 15rem;
   }

   .textArea .text input::placeholder {
      font-size: 10px
   }

   /* Earn  */
   .Earn__section {
      flex-direction: column;
      gap: .1rem;
      padding: .1rem 0 0 0;
   }

   .Earn__section .Earn__Image img {
      position: relative;
      right: 1rem;
      width: 15rem;
      height: 10rem;
   }

   .Earn__section .Earn__content {
      width: 10rem;
   }

   .Earn__content {
      gap: 1.5rem;
      padding: 1rem 0;
   }

   .Earn__content .earn__info p {
      font-size: 28px;
   }


   .Earn__content .earn__detail {
      width: 10rem;
   }

   .Earn__content .earn__detail p {
      font-size: 10px;
   }

   /* Fliter Section */
   .Fliter {
      flex-direction: column;
   }

   .FliterLeft {
      width: 100%;
      height: 370px;
   }

   .FliterLeft .Fliter__image {
      margin: 0rem 5rem 0rem 1rem;
      top: -2.4rem;
   }

   .FliterLeft .Fliter__image img {
      width: 15rem;
   }

   .FliterRight {
      width: 100%;
   }

   .FliterRight .Fliter__content {
      gap: 1rem;
      padding: 2rem 5rem 1rem 1rem;
   }

   .Fliter__content .fliter__info p {
      font-size: 28px;
   }

   .Fliter__content .fliter__info {
      width: 9rem;
   }

   .Fliter__content .fliter__detail p {
      font-size: 10px;
   }

   .Fliter__content .fliter__detail {
      width: 10rem;
   }

   /* Assurance */

   .Assurance {
      padding: 2rem 0 0 0;
   }

   .Assurance .assurance_top {
      flex-direction: column;
      gap: 2rem
   }

   .Assurance .assurance__content .assurance__title p {
      font-size: 28px;
   }

   .Assurance .assurance__content .assurance__title {
      width: 10rem;
   }

   .Assurance .assurance_top .assurance__image img {
      width: 15rem;
   }

   .chain .container {
      padding: .8rem 0 0 .5rem;
   }

   .chain .container .box1 .content {
      padding: 0 0rem 1.8rem 1rem;
      width: 20rem;
   }

   .chain .container .box .content span {
      font-size: 16px;
   }

   .chain .container .box .content h3 {
      font-size: 10px;
      width: 15rem;
   }

   .chain .container .box1 .content span {
      font-size: 16px;
   }

   .chain .container .box1 .content h3 {
      font-size: 10px;
      width: 15rem;
   }

   .Assurance .ad {
      padding: .5rem .5rem 0rem .8rem;
      border-radius: 2rem;
      width: 15rem;
   }

   .Assurance .ad .ad_Image {
      top: 20x;
      left: 0px;
   }

   .Assurance .ad .ad_Image img {
      width: 100px;
      height: 180px;
   }

   .Assurance .ad .ad_Info {
      display: flex;
      flex-direction: column;
      gap: .1rem;
   }

   .Assurance .ad .ad_Info p:nth-child(1) {
      font-size: 20px;
      width: 6rem;
   }

   .Assurance .ad .ad_Info p:nth-child(2) {
      font-size: 10px;
      width: 6rem;
   }

   .assurance_bottom .download__buttons img {
      width: 70px;
      height: 200px;
   }

   .Line {
      width: 14rem;
      height: 1px;
      background: rgb(205, 205, 205);
      position: relative;
      top: -6rem;
   }

   .footer {
      gap: .7rem;
      margin-bottom: 2rem;
   }

   .footer_content {
      gap: 1rem;
   }

   .footer_logo {
      top: 1rem;
   }

   .footer_logo img {
      width: 80px;
   }

   .email {
      margin: 1rem 0;
      gap: .5rem;
      flex-direction: column;
   }

   .email p {
      font-size: 8px;
      width: 9rem;
   }

   .footer_Input {
      flex-direction: row;
   }

   .footer_Input input {
      padding: .1px .2rem;
      width: 6rem;
   }

   .footer_Input input::placeholder {
      font-size: 10px;
   }

   .footer_Input .send {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 0 .8rem;
      font-size: 5px;
   }


   .footerTable_content table {
      width: 10rem;
   }

   .footerTable_content table tr th {
      font-size: 6px;
      padding-bottom: 10px;
   }

   .footerTable_content table tr td {
      font-size: 6px;
   }

   .footer .social_icons .social_icon {
      margin: 2px;
      padding: 5px;
      font-size: 10px;
   }

   .hero {
      gap: .1rem;
   }

   #menu-bars {
      display: initial;
   }

   header {
      left: -120%;
   }

   header.active {
      left: 0%;
   }

}