body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

* {
   font-family: "DM Sans";
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   /* text-transform: capitalize; */
   transition: all 0.2s linear;
   line-height: 1.5;
}

html {
   font-size: 100%;
   overflow-x: hidden;
   scroll-behavior: smooth;
}


/* Button */
.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: .3rem .9rem;
   background: #FFBB62;
   color: #000;
   cursor: pointer;
   font-size: 1.7rem;
   border-radius: 10rem;
   width: 4.5rem;
}

.btn span {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 17px;
   line-height: 116.6%;
   letter-spacing: -0.03em;
   color: #000000;
}

.btn:hover {
   background: rgb(255, 255, 255);
   color: black;
   letter-spacing: .2rem;
}


.hero {
   background: #029E58;
   display: flex;
   flex-direction: column;
   gap: 5rem;
   align-items: center;
   justify-content: center;
   z-index: 1;
}

/* Start of Navbar */
header {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: row;
   width: 100%;
   padding: 4rem 0rem;
   position: relative;
}

header .logo img {
   width: 200px;
   height: 50px;
}

nav {
   display: flex;
   flex-direction: row;
   gap: 2rem;
}

header .navbar a {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 30px;
   line-height: 116.6%;
   color: #FFFFFF;
}

header .navbar a:hover {
   letter-spacing: 0.1rem;
   color: black;
}

/* End of Navbar */

/* Home */
.home {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.home__content {
   display: flex;
   gap: 1.5rem;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.home .content__info {
   width: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home .content__info .info {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 100px;
   line-height: 94.6%;
   text-align: center;
   letter-spacing: -0.06em;
   color: #FFFFFF;
}

.home .content__detail {
   width: 530px;
}

.home .content__detail .info {
   font-family: 'DM Sans';
   font-style: normal;
   text-align: center;
   letter-spacing: -0.06em;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 150%;
   opacity: 0.9;
}

.home .download__buttons img {
   width: 170px;
   height: 170px;
}

.home .image {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 0;
}

.home .image img:nth-child(1) {
   position: relative;
   width: 700px;
   height: 400px;
   left: 480px;
   /* top: -1px; */
}

.home .image img:nth-child(2) {
   /* position: absolute; */
   width: 700px;
   height: 400px;
   left: 320px;
   /* top: -1px; */
   z-index: 1;
}

.home .image img:nth-child(3) {
   position: relative;
   width: 700px;
   height: 400px;
   right: 400px;
   /* top: -1px; */
}

.section {
   display: flex;
   flex-direction: row;
   gap: 2rem;
   align-items: center;
   justify-content: center;
}

/* Help */
.help {
   background-image: url('/Files/noise.png');
   background: rgba(240, 240, 230, 0.5);
   padding: 20rem 0rem 0rem 0rem;
   height: 30rem;
}

.left .left_image {
   position: relative;
   right: 2.5rem;
   top: 3.5rem;
   z-index: -1;
}

.left .left_image img {
   width: 140px;
   height: 140px;
}

.left .question {
   width: 450px;
}

.left .question p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 72px;
   line-height: 101.1%;
   letter-spacing: -0.03em;
   color: #029E58
}

.left .question__detail {
   width: 700px;
}

.left .question__detail p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   opacity: 0.6;
}

.left .right_image {
   position: relative;
   bottom: 26rem;
   width: 350.22px;
   height: 438.12px;
   z-index: -1;
   left: 26rem;
}

/* Connect */

.connect__section {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 10rem;
   padding: 4rem 0rem;
}

.connect {
   display: flex;
   gap: 2rem;
   flex-direction: column;
}

.connect__info {
   width: 25rem;
}

.connect__info p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 68px;
   line-height: 101.1%;
   letter-spacing: -0.03em;
   color: #121212;
}

.connect__details p {
   width: 24rem;
}

.connect__details p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: #121212;
   opacity: 0.6;
}

.connect__section .connect__image {
   width: 20rem;
   height: 20rem;
}

/* Chats Section */
.chat {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 0;
}

.top {
   box-shadow: 0 -5px 10px -5px rgba(50, 50, 50, 0.55);
}

/* Left */
.columnLeft {
   width: 50%;
   float: left;
   background-color: #029E58;
   align-items: center;
   justify-content: center;
}

.chat__content {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   justify-content: center;
   padding: 5rem 5rem 0rem 10rem;
}
.chat .buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.chat .buttons .chat_btn {
   border: 2px solid #FFBB62;
   padding: .4rem;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.chat .chat__info {
   width: 25rem;
}

.chat .chat__info p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 68px;
   line-height: 100.1%;
   letter-spacing: -0.03em;
   color: #FFFFFF;
}


.chat .chat__detail {
   width: 23rem;
}

.chat .chat__detail p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 150%;
   color: #FFFFFF;
   opacity: 0.9;
}

/* Right */
.columnRight {
   width: 50%;
   float: right;
   background-color: #F0F0E6;
   background-image: url('/Files/noise.png');
}

.chat__image {
   display: flex;
   flex-direction: column;
   padding: 0 0 0 3rem;
}

.profile {
   display: flex;
   align-items: center;
   gap: 1rem;
   background: white;
   padding: .3rem;
   width: 25rem;
}

.chats {
   padding: 0 0 0 2rem;
}

.chats .tab1 {
   position: relative;
   left: 10rem;
   top: 2rem;
   width: 15rem;
   background: #fff;
   border-radius: 10px;
   text-align: right;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   border-bottom-right-radius: 25px;
}

.chats .tab1 span {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 150%;
   color: #000;
}

.chats .tab {
   position: relative;
   top: 3rem;
   width: 10rem;
   margin-bottom: 1rem;
   background: #fff;
   border-radius: 10px;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   border-bottom-left-radius: 25px;
}

.chats .tab span {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 150%;
   color: #000;
}

.chats .tag {
   position: relative;
   top: 3rem;
   width: 15rem;
   margin-bottom: 1rem;
   background: #fff;
   border-radius: 10px;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   border-bottom-left-radius: 25px;
}

.chats .tag span {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 150%;
   color: #000;
}

.textArea {
   margin-top: 5rem;
   display: flex;
   align-items: center;
   gap: 1rem;
   background: white;
   padding: .5rem .3rem .9rem .5rem;
   width: 25rem;
}

.textArea .text {
   background: #F3F3F3;
   border-radius: 10px;
   padding: .2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 20rem;
}

.textArea .text input {
   background: transparent
}

.textArea .text .text_icons{
   display: flex;
   flex-direction: row;
   gap: .6rem;
}

/* Earn Section */
.Earn__section {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 10rem;
   padding: 5rem 0 0 0;
}

/* Right */
.Earn__content {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.Earn__section .Earn__Image img {
   position: relative;
   top: 10px;
   z-index: -1;
   width: 35rem;
   height: 30rem;
}

.Earn__section .Earn__content {
   width: 25rem;
}

.Earn__content .earn__info p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 68px;
   line-height: 101.1%;
   letter-spacing: -0.03em;
   color: #121212;
}

.Earn__content .earn__detail p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: #121212;
   opacity: 0.6;
}


/* Fliter Section */
.Fliter {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 0;
}

/* Left Side */
.FliterLeft {
   width: 50%;
   height: 662px;
   float: left;
   background-color: #2A2A2A;
   background-image: url('/Files/noise.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
}

.FliterLeft .Fliter__image {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0rem 5rem 0rem 5rem;
   position: relative;
   top: -60px;
}

/* Right Side */
.FliterRight {
   width: 50%;
   float: right;
   background-color: black;
   background-image: url('/Files/Noise2.png');
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.FliterRight .Fliter__content {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 5rem 5rem 0rem 10rem;
}


.Fliter__content .fliter__info p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 68px;
   line-height: 101.1%;
   letter-spacing: -0.03em;
   color: white;
}

.Fliter__content .fliter__detail p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: white;
   opacity: 0.6;
}

/* Assurance */
.Assurance {
   display: flex;
   gap: 2rem;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 5rem 0 0 0;
}

/* Top */
.Assurance .assurance_top {
   display: flex;
   flex-direction: row;
}

.Assurance .assurance_top .assurance__image img {
   width: 30rem;
}

.Assurance .assurance__content .assurance__title{
   width: 25rem;
}

.Assurance .assurance__content .assurance__title p {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 68px;
   line-height: 101.1%;
   letter-spacing: -0.03em;
   color: #007640;
}

/* Chain */
.chain .container {
   display: flex;
   flex-wrap: wrap;
   width: 1rem;
   height: 10rem;
   padding: 2rem 0 0 4rem;
}

.chain .container .box {
   position: relative;
   flex: 1 1 33rem;
   border-left: .2rem solid rgb(205, 205, 205);
   padding-right: 1rem;
}

.chain .container .box::before {
   content: '';
   position: absolute;
   top: 0;
   left: -.7rem;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
   background: rgb(205, 205, 205);
   border: .1rem solid #000;
}

.chain .container .box .content {
   padding: 0 1.5rem 1.8rem 1rem;
   width: 40rem;
}

.chain .container .box .content span {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 116.6%;
   letter-spacing: -0.03em;
   color: #121212;
   border-radius: 50rem;
}

.chain .container .box .content h3 {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: #121212;
   opacity: 0.6;
   width: 15rem;
}

.chain .container .box .content p {
   font-size: 1.5rem;
   color: black;
}

.chain .container .box1 {
   position: relative;
   flex: 1 1 33rem;
   padding-right: 2rem;
}

.chain .container .box1::before {
   content: '';
   position: absolute;
   top: 0;
   left: -.6rem;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
   background: rgb(205, 205, 205);
   border: .1rem solid #000;
}

.chain .container .box1 .content {
   padding: 0 1.5rem 1.8rem 1rem;
   width: 40rem;
}

.chain .container .box1 .content span {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 36px;
   line-height: 116.6%;
   letter-spacing: -0.03em;
   color: #121212;
   border-radius: 50rem;
}

.chain .container .box1 .content h3 {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: #121212;
   opacity: 0.6;
   width: 15rem;

}

.chain .container .box1 .content p {
   font-size: 1.5rem;
   color: black;
}

/* Bottom */
.Assurance .ad {
   background-color: #029B56;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   padding: 2rem 2rem 0rem 2rem;
   border-radius: 8rem;
   background-image: url('/Files/noise.png');
   position: relative;
   top: -10rem;
   width: 60rem;
}

.Assurance .ad .ad_Image {
   position: relative;
   top: 8px;
}

.Assurance .ad .ad_Image img {
   width: 350px;
   height: 500px;
}

.Assurance .ad .ad_Info p:nth-child(1) {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 70px;
   line-height: 102.6%;
   letter-spacing: -0.03em;
   color: #FFFFFF;
   width: 20rem;
}

.Assurance .ad .ad_Info p:nth-child(2) {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 150%;
   color: #FFFFFF;
}

/* Line */
.Line {
   width: 40rem;
   height: 1px;
   background: rgb(205, 205, 205);
   position: relative;
   top: -5rem;
}

/* Footer */
.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   margin-bottom: 3rem;
}

.footer_logo {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   top: 3rem;
}

.email {
   display: flex;
   flex-direction: column;
   margin: 2rem 0;
}

.footer_Input {
   display: flex;
   flex-direction: row;
}

.footer_Input input {
   border: 1px solid rgb(205, 205, 205);
   padding: 10px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   padding-right: 15rem;
}

.footer_Input .send {
   background-color: #000;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 25px;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 2rem;
}

.footer_content {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 6rem;
}

.footer_logo {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.footerTable_content table {
   text-align: left;
   width: 40rem;
}

.footerTable_content table tr th {
   padding-bottom: 20px;
}

.footerTable_content table tr td {
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 165.4%;
   letter-spacing: 0.02em;
   color: #121212;
}

.footer .social_icons {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.footer .social_icons .social_icon {
   background-color: #F2F2F2;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 10px;
   padding: 10px
}

#menu-bars {
   position: relative;
   top: 1rem;
   right: -7rem;
   padding: .1rem;
   z-index: 1;
   background: black;
   color: #fff;
   font-size: 1rem;
   cursor: pointer;
   display: none;
   border-radius: 5px;
}